node_modules/
.bjseditor/
.next/
.vscode/
assets/.export-cache.json
assets/.assets-cache.json
assets/main.scene/preview.png
dist/
package-lock.json
assets/test.scene/preview.png
assets/materials/background unlit.material
assets/materials/racket.material
src/scripts.ts
